
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:20px;
    margin-top: 80px;
}

.heading1{
    font-size: 1.1rem;
    margin: 10px;
    font-weight: 600;
    opacity: 0.9;
}

.paragraphcontainer{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.paragraph{
    text-align:justify;
    width: 70%;
}