
.outerOfNavbar{
    display: flex;
    margin: 10px;
    background-color:rgb(81, 127, 167);
    border-radius: 13px;
}

.navbar{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 2px;
    background-color:aliceblue;
    border-radius: 10px;
}

.link{
    color: #000; /* Remove default blue color */
    text-decoration: none; /* Remove default underline */
    outline: none; /* Remove default outline on focus */
    font-size: 1.2rem;
    margin: 10px;
    padding: 0;
    font-weight: 600;
    opacity: 0.9;
    color: rgb(33, 35, 37);
}

.link:active{
    color: whitesmoke;
}